/* static/styles.css */
.custom-title {
    color: #ff5722; /* Cambia el color a un tono naranja */
    font-size: 2.5rem; /* Cambia el tamaño de la fuente */
    font-weight: bold; /* Cambia el peso de la fuente */
    text-shadow: 2px 2px 4px #000000; /* Agrega una sombra al texto */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
}


.card-title a {
    color: rgb(146, 17, 17) !important;
    text-decoration: none !important;
}
