<!-- pokedex/templates/display_pokemon.html -->
{% extends 'base.html' %}

{% load static %}  <!-- Asegúrate de cargar la etiqueta estática aquí -->

{% block title %}{{ pokemon.name|capfirst }}{% endblock %}

{% block content %}
<div class="text-center p-4">
    <img src="{% static pokemon.image_url %}" alt="{{ pokemon.name|capfirst }}" class="img-fluid">
</div>
<h1>{{ pokemon.name|capfirst }}</h1>
<p>Type: {{ pokemon.type }}</p>
<p>Height: {{ pokemon.height }} m</p>
<p>Weight: {{ pokemon.weight }} kg</p>
<p>Attack: {{ pokemon.attack }}</p>

<audio controls>
    <source src="{% static pokemon.audio_url %}" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
{% endblock %}
