<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pokemon.name|capfirst }}</title>
</head>
<body>
    <div class="container">
        <div class="bg-primary text-white text-center p-4">
            <h1>Has elegido a {{ pokemon.name|capfirst }}</h1>
        </div>
        <h3>Características:</h3>
        <ul>
            <li>Tipo: {{ pokemon.type }}</li>
            <li>Peso: {{ pokemon.weight }} Kg</li>
            <li>Altura: {{ pokemon.height }} Cm</li>
        </ul>
    </div>
</body>
</html>
