<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
</head>
<body>
    <div class="container">
        <div class="bg-primary text-white text-center p-4">
            <h1>Bienvenido a mi pokedex</h1>
        </div>
        <ul>
            {% for pokemon in pokemons %}
                <li><a href="{% url 'pokemon' pokemon.name %}">{{ pokemon.name|capfirst }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
