<!-- pokedex/templates/index.html -->
{% extends 'base.html' %}

{% load static %}  <!-- Asegúrate de cargar la etiqueta estática aquí -->

{% block title %}Pokédex{% endblock %}

{% block content %}
<div class="text-center p-4">
    <img src="{% static 'pokedex-3d-logo.png' %}" alt="Pokédex Logo" class="img-fluid">
</div>
<div class="row">
    {% for pokemon in pokemons %}
    <div class="col-md-3">
        <div class="card text-center">
            <a href="{% url 'pokemon' pokemon.name %}">
                <img src="{% static pokemon.image_url %}" class="card-img-top" alt="{{ pokemon.name|capfirst }}">
            </a>
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'pokemon' pokemon.name %}">{{ pokemon.name|capfirst }}</a></h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
