<!-- pokedex/templates/index.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}Pokédex{% endblock %}

{% block content %}
<div class="text-center p-4">
    <img src="{% static 'pokedex-3d-logo.png' %}" alt="Pokédex Logo" class="img-fluid">
</div>
<div class="row">
    <h2>Pokemones</h2>
    {% for pokemon in pokemons %}
    <div class="col-md-3">
        <div class="card text-center">
            <a href="{% url 'pokemon' pokemon.name %}">
                <img src="{% static pokemon.image_url %}" class="card-img-top" alt="{{ pokemon.name|capfirst }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'pokemon' pokemon.name %}">{{ pokemon.name|capfirst }}</a>
                    <a href="{% url 'display_pokemon' pokemon.id %}">
                        <i class="fa-solid fa-eye" style="color: green;"></i> 
                    </a>
                </h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- Mostrar Entrenadores -->

<div class="row mt-5">
    <h2>Entrenadores</h2>
    {% for trainer in trainers %}
    <div class="col-md-6 mb-4">  
        <div class="card mb-3 shadow-sm" style="border: 6px solid #ddd; border-radius: 15px;"> 
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ trainer.image_url.url }}" class="img-fluid rounded-start" alt="{{ trainer.name }}" style="height: 100%; width: 100%; object-fit: cover; border-radius: 15px 0 0 15px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">{{ trainer.name }}</h4>
                        <p class="card-text" style="font-style: italic;">Edad: <span style="font-weight: bold;">{{ trainer.age }}</span></p>
                        <p class="card-text" style="font-style: italic;">Nivel: <span style="font-weight: bold;">{{ trainer.level }}</span></p>
                        
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
